.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.primary_color{
    color: #FD6E0A;
}
.dark1{
    color: #181818;
}
.dark2{
    color: #474747;
}

*{
    margin: 0;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.header{
    background-image: url(/images/developer.png), url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
    margin: 0;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 230px;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 51px;

}
nav ul li a {
    text-decoration: none;
}

.logo_title{
    font-size: 45px;
    font-weight: 800;
}

.btn-pri{
    color: white;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 38px 0 230px;

}

.banner-image{
    width: 584px;
    /* height: 676px; */
}

.getting{
    font-size: 45px;
    font-weight: 400;

}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}


.aboutContener{
    margin-top: 130px;
    padding: 130px 156px;
    background-color: #FFF8F3;
}